#depoimentos.depoimentos-edit {
  @include container;
  .leitores-flex {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

#edit-page {
  input,
  textarea {
    border: none;
    border: 1px solid #999999;
    border-radius: 50px;
    outline: none;
    padding: 10px 20px;
    overflow-y: visible;
    resize: none;
    box-sizing: border-box;
    @include text-2;
    font-size: px-rem(18px);
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  textarea {
    width: 100%;
  }
  button {
    display: block;
    font-family: "Teachers", Arial, Helvetica, sans-serif;
    font-size: px-rem(18px);
    font-weight: 400;
    background-color: #2e2e2e;
    border: none;
    color: $w;
    border-radius: 50px;
    padding: 0.4em 1em;
    cursor: pointer;
    white-space: nowrap;
  }
  #bg1-button {
    position: absolute;
    top: 0;
    left: 0;
  }
  #bg2-button,
  #bg3-button {
    @include align-div;
    margin-top: $spacing-3;
  }
  #input1,
  #input2,
  #input3,
  #input4,
  #input5,
  #input6,
  #input7,
  #input8,
  #input9,
  #input10,
  #input11,
  #input12,
  #input13,
  #input14,
  #input15,
  #input16,
  #input17,
  #input19,
  #input20 {
    text-align: center;
  }
  #input2 {
    @include mbottom-3;
  }
}

#edit-header {
  background-color: #242424;
  color: $w;
  font-family: "Teachers";
  font-size: px-rem(18px);
  & > div {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
  }
}
