@mixin title-1 {
  font-family: "Teachers";
  font-size: px-rem(42px);
  font-weight: 500;
}

@mixin title-2 {
  font-family: "Teachers";
  font-size: px-rem(38px);
  font-weight: 500;
}

@mixin text-1 {
  font-family: "Hanken Grotesk";
  font-size: px-rem(24px);
  font-weight: 300;
}

@mixin text-2 {
  font-family: "Hanken Grotesk";
  font-size: px-rem(20px);
  font-weight: 300;
}
